<html>
    <head>
        <title>
            Delete
        </title>
    </head>
    <body>
        <h2>
            Are you sure you want to delete "{{ability.name}}"?
        </h2>
        <form action="{% url 'abilities:delete' ability.id %}" method="post">
            {% csrf_token %}
            <dl>
                <dt>
                    Name:
                </dt>
                <dd>
                    {{ability.name}}
                </dd>
                <dt>
                    Description
                </dt>
                <dd>
                    {{ability.description}}
                </dd>
            </dl>
            <input type="submit" value="Delete" />
        </form>
    </body>
</html>
