<html>
    <head>
        <title>
            {{ability.name}}
        </title>
    </head>
    <body>
        <h2>
            {{ability.name}}
        </h2>
        <p>
            {{ability.description}}
        </p>
    </body>
</html>
