<html>
    <head>
        <title>
            {{title}}
        </title>
    </head>
    <body>
        <h2>
            {{title}}
        </h2>
        <form action="{% url 'abilities:save' ability.id %}" method="post">
            {% csrf_token %}
            <dl>
                <dt>
                    Name:
                </dt>
                <dd>
                    <input type="text" name="name" value="{{ability.name}}" />
                </dd>
                <dt>
                    Description
                </dt>
                <dd>
                    <input type="text" name="description" value="{{ability.description}}"/>
                </dd>
            </dl>
            <input type="submit" value="Save" />
        </form>
    </body>
</html>
