{% if abilities %}
    <h3>
        Abilities List:
    </h3>
    <table>
        {% for a in abilities %}
            <tr>
                <td>
                    {{a.name}}
                </td>
                <td>
                    <a href="{% url 'abilities:detail' a.id %}">
                        Show
                    </a>
                </td>
                <td>
                    <a href="{% url 'abilities:edit' a.id %}">
                        Edit
                    </a>
                </td>
                <td>
                    <a href="{% url 'abilities:ask_del' a.id %}">
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>
        No abilities are available!
    </h3>
    <p>
        Nothing to show.
    </p>
{% endif %}
<a href="{% url 'abilities:new' %}">Create New Ability!</a>
